#**Equal-Weight Nifty 50 Index Fund**

##**Introduction**

The Nifty 50 is a stock market index of the top 50 companies listed on the National Stock Exchange of India (NSE). It is a free-float market-capitalization-weighted index, which means that the weight of each stock in the index is determined by its market capitalization and the number of shares that are freely available to trade. The Nifty 50 is considered to be a good proxy for the Indian stock market as a whole.

The largest Nifty ETF is the Nifty 50 ETF by HDFC Asset Management Company. It has over ₹200 billion of assets under management. The Nifty 50 ETF tracks the performance of the Nifty 50 index and offers investors a low-cost way to gain exposure to the Indian stock market.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each nifty 50 you should purchase to get an equal-weight version of the index fund.

##**Library** **Imports**

The first thing we need to do is import the open-source software libraries that we'll be using in this project.

In [ ]:
!pip install numpy
!pip install pandas
!pip install requests
!pip install xlsxwriter
!pip install yfinance

In [ ]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for
import math #The Python math module
import yfinance as yf #TO get current rates for nifty 50
from datetime import datetime, timedelta #To foramt date time data

##**Importing Our List of Stocks**

The next thing we need to do is import the constituents of the Nifty 50.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

There's a static version of the Nifty 50 constituents available here.[ Click this link](https://drive.google.com/file/d/1S0AsigDz6g9CI0ed2vIERyX7mPXWJ90A/view?usp=sharing) to download them now. Upload this file in the colab so it can be accessed by other files in the script.

Now it's time to import these stocks to our colab file.

In [ ]:
stocks = pd.read_csv('/content/nifty50_stocks.csv') #Read CSV file

In [ ]:
temp = stocks.iloc[:,0] #dropping all extra columns
df = pd.DataFrame(temp)
df.columns

Index(['Ticker'], dtype='object')

#**Retrieving Data using Yahoo Finance**

To obtain the desired information from Yahoo Finance, we will use the yfinance library, which allows us to fetch data from Yahoo Finance's API. We are interested in retrieving the following details for each stock:




*   Market capitalization for each stock.
*   Price of each stock.

By utilizing the functionalities provided by yfinance, we can access and extract this data for analysis and further processing.

In [ ]:
data =[]

# Loop over the stocks in the index
for symbol in df['Ticker']:

  symbol = symbol + '.NS'
  ticker = yf.Ticker(symbol)
  stock_info = ticker.info

  start = datetime.now()
  end = datetime.now()

  #Get the latest price
  price_data= yf.download(symbol, start=start, end=end)
  price = price_data['Close'].iloc[-1]

  #Get the market cap
  market_cap = stock_info['marketCap']

  # Append the data to the list
  data.append([symbol, price, market_cap, 'N/A'])

##**Adding Our Stocks Data to a Pandas DataFrame**

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [ ]:
# Create a DataFrame from the collected data
columns = ['Ticker', 'Stock Price', 'Market Capitalization', 'Number Of Shares to Buy']
df_result = pd.DataFrame(data, columns=columns)

In [ ]:
# Print the resulting DataFrame
print(df_result)

           Ticker   Stock Price  Market Capitalization Number Of Shares to Buy
0   INDUSINDBK.NS   1331.050049          1032870887424                     N/A
1     AXISBANK.NS    974.750000          3022660829184                     N/A
2    POWERGRID.NS    244.899994          1708287721472                     N/A
3     ADANIENT.NS   2451.149902          2799556362240                     N/A
4           LT.NS   2363.000000          3321148997632                     N/A
5   ULTRACEMCO.NS   8153.250000          2353337991168                     N/A
6        CIPLA.NS    969.250000           787953745920                     N/A
7       GRASIM.NS   1715.750000          1163053760512                     N/A
8   TATAMOTORS.NS    562.299988          2003075596288                     N/A
9    BRITANNIA.NS   4878.750000          1175134797824                     N/A
10        NTPC.NS    182.800003          1772551274496                     N/A
11     DRREDDY.NS   4666.799805           775258112000                     N/A
12  BAJFINANCE.NS   7037.149902          4328564981760                     N/A
13    JSWSTEEL.NS    748.500000          1803675500544                     N/A
14   ICICIBANK.NS    938.049988          6587756314624                     N/A
15       TITAN.NS   2876.250000          2557443571712                     N/A
16    HDFCBANK.NS   1610.599976          9002094166016                     N/A
17        HDFC.NS   2652.899902          4898181611520                     N/A
18   NESTLEIND.NS  22073.449219          2128226942976                     N/A
19   COALINDIA.NS    227.649994          1402945404928                     N/A
20  APOLLOHOSP.NS   4926.700195           710316785664                     N/A
21   SUNPHARMA.NS    983.950012          2424925061120                     N/A
22  BAJAJFINSV.NS   1466.500000          2349406355456                     N/A
23        BPCL.NS    359.450012           779736973312                     N/A
24  BHARTIARTL.NS    833.500000          4783672918016                     N/A
25      MARUTI.NS   9627.799805          2931732512768                     N/A
26  ADANIPORTS.NS    734.950012          1606997639168                     N/A
27  ASIANPAINT.NS   3180.550049          3049638592512                     N/A
28       WIPRO.NS    397.299988          2178693726208                     N/A
29   KOTAKBANK.NS   1872.000000          3861973565440                     N/A
30         M&M.NS   1370.650024          1754870579200                     N/A
31    RELIANCE.NS   2481.949951         16792848171008                     N/A
32  TATACONSUM.NS    801.000000           744138604544                     N/A
33    HINDALCO.NS    415.049988           925926686720                     N/A
34         TCS.NS   3209.300049         11827137216512                     N/A
35       TECHM.NS   1063.050049          1058051588096                     N/A
36     SBILIFE.NS   1232.400024          1233509154816                     N/A
37         ITC.NS    438.450012          5503117688832                     N/A
38        ONGC.NS    154.250000          1940511260672                     N/A
39        INFY.NS   1265.949951          5238121037824                     N/A
40  BAJAJ-AUTO.NS   4743.399902          1342178197504                     N/A
41     HCLTECH.NS   1109.750000          3009408925696                     N/A
42  HINDUNILVR.NS   2636.199951          6320526721024                     N/A
43         UPL.NS    680.250000           520921808896                     N/A
44        SBIN.NS    578.700012          5164671434752                     N/A
45   TATASTEEL.NS    108.900002          1332151975936                     N/A
46   EICHERMOT.NS   3581.300049           992818757632                     N/A
47    DIVISLAB.NS   3428.750000           920159911936                     N/A
48    HDFCLIFE.NS    581.700012          1250445623296                     N/A
49  HEROMOTOCO.NS   2899.300049           579401940992                     N/A

##**Calculating the Number of Shares to Buy**

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [ ]:
portfolio_size = input("Enter the value of your portfolio:")

try:
    val = float(portfolio_size)
except ValueError:
    print("That's not a number! \n Try again:")
    portfolio_size = input("Enter the value of your portfolio:")

Enter the value of your portfolio:1333333

In [ ]:
position_size = float(portfolio_size) / len(df_result.index)
for i in range(0, len(df_result['Ticker'])-1):
    df_result.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / df_result['Stock Price'][i])
df_result

           Ticker   Stock Price  Market Capitalization Number Of Shares to Buy
0   INDUSINDBK.NS   1331.050049          1032870887424                      20
1     AXISBANK.NS    974.750000          3022660829184                      27
2    POWERGRID.NS    244.899994          1708287721472                     108
3     ADANIENT.NS   2451.149902          2799556362240                      10
4           LT.NS   2363.000000          3321148997632                      11
5   ULTRACEMCO.NS   8153.250000          2353337991168                       3
6        CIPLA.NS    969.250000           787953745920                      27
7       GRASIM.NS   1715.750000          1163053760512                      15
8   TATAMOTORS.NS    562.299988          2003075596288                      47
9    BRITANNIA.NS   4878.750000          1175134797824                       5
10        NTPC.NS    182.800003          1772551274496                     145
11     DRREDDY.NS   4666.799805           775258112000                       5
12  BAJFINANCE.NS   7037.149902          4328564981760                       3
13    JSWSTEEL.NS    748.500000          1803675500544                      35
14   ICICIBANK.NS    938.049988          6587756314624                      28
15       TITAN.NS   2876.250000          2557443571712                       9
16    HDFCBANK.NS   1610.599976          9002094166016                      16
17        HDFC.NS   2652.899902          4898181611520                      10
18   NESTLEIND.NS  22073.449219          2128226942976                       1
19   COALINDIA.NS    227.649994          1402945404928                     117
20  APOLLOHOSP.NS   4926.700195           710316785664                       5
21   SUNPHARMA.NS    983.950012          2424925061120                      27
22  BAJAJFINSV.NS   1466.500000          2349406355456                      18
23        BPCL.NS    359.450012           779736973312                      74
24  BHARTIARTL.NS    833.500000          4783672918016                      31
25      MARUTI.NS   9627.799805          2931732512768                       2
26  ADANIPORTS.NS    734.950012          1606997639168                      36
27  ASIANPAINT.NS   3180.550049          3049638592512                       8
28       WIPRO.NS    397.299988          2178693726208                      67
29   KOTAKBANK.NS   1872.000000          3861973565440                      14
30         M&M.NS   1370.650024          1754870579200                      19
31    RELIANCE.NS   2481.949951         16792848171008                      10
32  TATACONSUM.NS    801.000000           744138604544                      33
33    HINDALCO.NS    415.049988           925926686720                      64
34         TCS.NS   3209.300049         11827137216512                       8
35       TECHM.NS   1063.050049          1058051588096                      25
36     SBILIFE.NS   1232.400024          1233509154816                      21
37         ITC.NS    438.450012          5503117688832                      60
38        ONGC.NS    154.250000          1940511260672                     172
39        INFY.NS   1265.949951          5238121037824                      21
40  BAJAJ-AUTO.NS   4743.399902          1342178197504                       5
41     HCLTECH.NS   1109.750000          3009408925696                      24
42  HINDUNILVR.NS   2636.199951          6320526721024                      10
43         UPL.NS    680.250000           520921808896                      39
44        SBIN.NS    578.700012          5164671434752                      46
45   TATASTEEL.NS    108.900002          1332151975936                     244
46   EICHERMOT.NS   3581.300049           992818757632                       7
47    DIVISLAB.NS   3428.750000           920159911936                       7
48    HDFCLIFE.NS    581.700012          1250445623296                      45
49  HEROMOTOCO.NS   2899.300049           579401940992                     N/A

##**Formatting Our Excel Output**

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

###**Initializing our XlsxWriter Object**

In [ ]:
writer = pd.ExcelWriter('recommended_trades.xlsx', engine='xlsxwriter')
df_result.to_excel(writer, sheet_name='Recommended Trades', index = False)

#**Creating the Formats We'll Need For Our `.xlsx` File**

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:

*   String format for tickers
*   ₹XX.XX format for stock prices

*   ₹XX,XXX format for market capitalization
*   Integer format for the number of shares to purchase

In [ ]:
string_format = writer.book.add_format(
        {
            'font_color': '#ffffff',
            'bg_color': '#0a0a23',
            'border': 1
        }
    )

INR_format = writer.book.add_format(
        {
            'num_format':'₹0.00',
            'border': 1
        }
    )

integer_format = writer.book.add_format(
        {
            'num_format':'0',
            'border': 1
        }
    )

#**Applying the Formats to the Columns of Our `.xlsx` File**

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

writer.sheets['Recommended Trades'].set_column('B:B', 18,                  string_template             )

'B:B': *This tells the method   to apply the format to column B*

'18': *This tells the method to apply a column width of 18 pixels*

'string_template' : *This applies the format 'string_template' to the column*

In [ ]:
column_formats = {
                    'A': ['Ticker', string_format],
                    'B': ['Stock Price', INR_format],
                    'C': ['Market Capitalization', INR_format],
                    'D': ['Number of Shares to Buy', integer_format]
                    }

for column in column_formats.keys():

    # Apply formatting to cells with data in the column
    writer.sheets['Recommended Trades'].set_column(f'{column}:{column}', 20,  column_formats[column][1])

    # Apply header formatting to the first cell of the column
    writer.sheets['Recommended Trades'].write(f'{column}1', column_formats[column][0], string_format)

#**Saving Our Excel Output**

Saving our Excel file is very easy:

In [ ]:
writer.save()

<ipython-input-91-16d93d5523a4>:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()