#**Quantitative Momentum Strategy**

"Momentum investing" means investing in the stocks that have increased in price the most.

For this project, we're going to build an investing strategy that selects the 10 stocks with the highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 10 stocks.

##**Library Imports**
The first thing we need to do is import the open-source software libraries that we'll be using in this project.

In [ ]:
!pip install numpy
!pip install pandas
!pip install requests
!pip install xlsxwriter
!pip install yfinance

In [2]:
import numpy as np #The Numpy numerical computing library
import pandas as pd #The Pandas data science library
import requests #The requests library for HTTP requests in Python
import xlsxwriter #The XlsxWriter libarary for storing output in excel
import math #The Python math module
from scipy import stats #The SciPy stats module
import yfinance as yf #TO get current rates for nifty 50
from datetime import datetime, timedelta #To foramt date time data

##**Importing Our List of Stocks**

The next thing we need to do is import the constituents of the Nifty 50.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

There's a static version of the Nifty 50 constituents available here.[ Click this link](https://drive.google.com/file/d/1S0AsigDz6g9CI0ed2vIERyX7mPXWJ90A/view?usp=sharing) to download them now. Upload this file in the colab so it can be accessed by other files in the script.

Now it's time to import these stocks to our colab file.

In [23]:
stocks = pd.read_csv('/content/nifty50_stocks.csv') #Read CSV file

In [24]:
temp = stocks.iloc[:,0] #dropping all extra columns
df = pd.DataFrame(temp)
df.columns

Index(['Ticker'], dtype='object')

#**Retrieving Data using Yahoo Finance**

To obtain the desired information from Yahoo Finance, we will use the yfinance library, which allows us to fetch data from Yahoo Finance's API. We are interested in retrieving the following details for each stock:




*   Price of each stock.
*   One-year price returns of each stock.

By utilizing the functionalities provided by yfinance, we can access and extract this data for analysis and further processing.

In [25]:
data =[]

# Loop over the stocks in the index
for symbol in df['Ticker']:

  symbol = symbol + '.NS'
  ticker = yf.Ticker(symbol)
  stock_info = ticker.info

  # Retrieve the current price data for each stock
  price = stock_info['currentPrice']

  # Get the one-year price returns
  returns = stock_info.get('52WeekChange') * 100 if stock_info.get('52WeekChange') else None

  # Append the data to the list
  data.append([symbol, price, returns, 'N/A'])

##**Adding Our Stocks Data to a Pandas DataFrame**
The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [26]:
# Create a DataFrame from the collected data
columns = ['Ticker', 'Stock Price', 'One-Year Price Return', 'Number Of Shares to Buy']
df_result = pd.DataFrame(data, columns=columns)

In [27]:
# Print the resulting DataFrame
print(df_result)

           Ticker  Stock Price  One-Year Price Return Number Of Shares to Buy
0   INDUSINDBK.NS      1292.55              65.050640                     N/A
1     AXISBANK.NS       977.60              55.276420                     N/A
2    POWERGRID.NS       245.80              11.971343                     N/A
3     ADANIENT.NS      2482.20              18.221319                     N/A
4           LT.NS      2362.65              54.144300                     N/A
5   ULTRACEMCO.NS      8333.40              56.002070                     N/A
6        CIPLA.NS       995.80               4.309475                     N/A
7       GRASIM.NS      1770.65              35.243762                     N/A
8   TATAMOTORS.NS       569.85              43.071640                     N/A
9    BRITANNIA.NS      4963.20              45.708466                     N/A
10        NTPC.NS       186.60              29.660726                     N/A
11     DRREDDY.NS      4806.35               9.667635                     N/A
12  BAJFINANCE.NS      7101.10              35.633720                     N/A
13    JSWSTEEL.NS       770.00              38.618672                     N/A
14   ICICIBANK.NS       927.10              39.064110                     N/A
15       TITAN.NS      2906.70              41.318320                     N/A
16    HDFCBANK.NS      1585.05              25.146340                     N/A
17        HDFC.NS      2625.30              28.660345                     N/A
18   NESTLEIND.NS     22910.15              33.297384                     N/A
19   COALINDIA.NS       228.30              27.265143                     N/A
20  APOLLOHOSP.NS      5228.40              35.139823                     N/A
21   SUNPHARMA.NS       987.70              21.298802                     N/A
22  BAJAJFINSV.NS      1475.20              29.551340                     N/A
23        BPCL.NS       378.05              19.878066                     N/A
24  BHARTIARTL.NS       828.40              27.537453                     N/A
25      MARUTI.NS      9599.95              21.495867                     N/A
26  ADANIPORTS.NS       740.40               8.236766                     N/A
27  ASIANPAINT.NS      3289.25              22.781241                     N/A
28       WIPRO.NS       389.80              -6.334358                     N/A
29   KOTAKBANK.NS      1831.35              10.750091                     N/A
30         M&M.NS      1390.30              36.597860                     N/A
31    RELIANCE.NS      2548.35                    NaN                     N/A
32  TATACONSUM.NS       863.95              13.097453                     N/A
33    HINDALCO.NS       423.30              25.379348                     N/A
34         TCS.NS      3222.50               3.236795                     N/A
35       TECHM.NS      1082.00              10.673642                     N/A
36     SBILIFE.NS      1242.25              12.500560                     N/A
37         ITC.NS       447.55              70.847714                     N/A
38        ONGC.NS       157.20               8.429122                     N/A
39        INFY.NS      1287.70              -6.609648                     N/A
40  BAJAJ-AUTO.NS      4723.20              30.007923                     N/A
41     HCLTECH.NS      1145.10              17.239237                     N/A
42  HINDUNILVR.NS      2688.65              24.651790                     N/A
43         UPL.NS       680.30              -0.204784                     N/A
44        SBIN.NS       568.00              30.525362                     N/A
45   TATASTEEL.NS       113.80              23.267162                     N/A
46   EICHERMOT.NS      3550.00              35.443926                     N/A
47    DIVISLAB.NS      3575.10              -2.165556                     N/A
48    HDFCLIFE.NS       577.20               2.497590                     N/A
49  HEROMOTOCO.NS      2909.15              17.204905                     N/A

# **Removing Low-Momentum Stocks**
The investment strategy that we're building seeks to identify the 10 highest-momentum stocks in the Nifty 50.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We'll sort the DataFrame by the stocks' one-year price return, and drop all stocks outside the top 10.

In [28]:
df_result.sort_values('One-Year Price Return', ascending = False, inplace = True)
df_result = df_result[:10]
df_result.reset_index(drop = True, inplace = True)
df_result

          Ticker  Stock Price  One-Year Price Return Number Of Shares to Buy
0         ITC.NS       447.55              70.847714                     N/A
1  INDUSINDBK.NS      1292.55              65.050640                     N/A
2  ULTRACEMCO.NS      8333.40              56.002070                     N/A
3    AXISBANK.NS       977.60              55.276420                     N/A
4          LT.NS      2362.65              54.144300                     N/A
5   BRITANNIA.NS      4963.20              45.708466                     N/A
6  TATAMOTORS.NS       569.85              43.071640                     N/A
7       TITAN.NS      2906.70              41.318320                     N/A
8   ICICIBANK.NS       927.10              39.064110                     N/A
9    JSWSTEEL.NS       770.00              38.618672                     N/A

# **Calculating the Number of Shares to Buy**
We now need to calculate the number of shares we need to buy. The one change we're going to make is wrapping this functionality inside a function, since we'll be using it again later in this Jupyter Notebook.

In [29]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the value of your portfolio:")

    try:
        val = float(portfolio_size)
    except ValueError:
        print("That's not a number! \n Try again:")
        portfolio_size = input("Enter the value of your portfolio:")

portfolio_input()
print(portfolio_size)

Enter the value of your portfolio:12138394
12138394

In [30]:
position_size = float(portfolio_size) / len(df_result.index)
for i in range(0, len(df_result['Ticker'])):
    df_result.loc[i, 'Number Of Shares to Buy'] = math.floor(position_size / df_result['Stock Price'][i])
df_result

          Ticker  Stock Price  One-Year Price Return Number Of Shares to Buy
0         ITC.NS       447.55              70.847714                    2712
1  INDUSINDBK.NS      1292.55              65.050640                     939
2  ULTRACEMCO.NS      8333.40              56.002070                     145
3    AXISBANK.NS       977.60              55.276420                    1241
4          LT.NS      2362.65              54.144300                     513
5   BRITANNIA.NS      4963.20              45.708466                     244
6  TATAMOTORS.NS       569.85              43.071640                    2130
7       TITAN.NS      2906.70              41.318320                     417
8   ICICIBANK.NS       927.10              39.064110                    1309
9    JSWSTEEL.NS       770.00              38.618672                    1576

## **Building a Better (and More Realistic) Momentum Strategy**

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks:

High-quality momentum stocks show "slow and steady" outperformance over long periods of time
Low-quality momentum stocks might not show any momentum for a long time, and then surge upwards.
The reason why high-quality momentum stocks are preferred is because low-quality momentum can often be cause by short-term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high-quality momentum, we're going to build a strategy that selects stocks from the highest percentiles of:


*   1-month price returns

*   3-month price returns
*   6-month price returns


*   1-year price returns






Let's start by building our DataFrame. You'll notice that I use the abbreviation hqm often. It stands for high-quality momentum.

In [31]:
hqm_columns = [
                'Ticker',
                'Price',
                'Number of Shares to Buy',
                'One-Year Price Return',
                'One-Year Return Percentile',
                'Six-Month Price Return',
                'Six-Month Return Percentile',
                'Three-Month Price Return',
                'Three-Month Return Percentile',
                'One-Month Price Return',
                'One-Month Return Percentile',
                'HQM Score'
                ]


hqm_dataframe = pd.DataFrame(columns = hqm_columns)


for symbol in df['Ticker']:
    symbol += '.NS'
    ticker = yf.Ticker(symbol)
    stock_info = ticker.info

    # Retrieve the current price data for each stock
    price = stock_info.get('currentPrice')

    # Calculate the price returns for different time periods
    end = pd.Timestamp.now()
    start_1y = end - pd.DateOffset(years=1)
    start_6m = end - pd.DateOffset(months=6)
    start_3m = end - pd.DateOffset(months=3)
    start_1m = end - pd.DateOffset(months=1)

    hist_1y = ticker.history(start=start_1y, end=end)
    hist_6m = ticker.history(start=start_6m, end=end)
    hist_3m = ticker.history(start=start_3m, end=end)
    hist_1m = ticker.history(start=start_1m, end=end)

    returns_1y = (hist_1y['Close'][-1] - hist_1y['Close'][0]) / hist_1y['Close'][0] * 100
    returns_6m = (hist_6m['Close'][-1] - hist_6m['Close'][0]) / hist_6m['Close'][0] * 100
    returns_3m = (hist_3m['Close'][-1] - hist_3m['Close'][0]) / hist_3m['Close'][0] * 100
    returns_1m = (hist_1m['Close'][-1] - hist_1m['Close'][0]) / hist_1m['Close'][0] * 100

    # Append the data to the dataframe
    data = pd.DataFrame([[symbol, price, 'N/A', returns_1y, 'N/A', returns_6m, 'N/A', returns_3m, 'N/A', returns_1m, 'N/A', 'N/A']], columns=hqm_columns)
    hqm_dataframe = pd.concat([hqm_dataframe, data], ignore_index=True)

hqm_dataframe.columns

Index(['Ticker', 'Price', 'Number of Shares to Buy', 'One-Year Price Return',
       'One-Year Return Percentile', 'Six-Month Price Return',
       'Six-Month Return Percentile', 'Three-Month Price Return',
       'Three-Month Return Percentile', 'One-Month Price Return',
       'One-Month Return Percentile', 'HQM Score'],
      dtype='object')

# **Calculating Momentum Percentiles**
We now need to calculate momentum percentile scores for every stock in the universe. More specifically, we need to calculate percentile scores for the following metrics for every stock:

`One-Year Price Return`

`Six-Month Price Return`

`Three-Month Price Return`

`One-Month Price Return`





Here's how we'll do this:

In [32]:
# Calculate the percentile scores for each time period

time_periods = [
                'One-Year',
                'Six-Month',
                'Three-Month',
                'One-Month'
                ]

for time_period in time_periods:
    column_name = f'{time_period} Price Return'
    percentile_column = f'{time_period} Return Percentile'
    hqm_dataframe[percentile_column] = hqm_dataframe[column_name].apply(
        lambda x: stats.percentileofscore(hqm_dataframe[column_name], x) / 100
    )

# Print each percentile score
# for time_period in time_periods:
    # print(hqm_dataframe[f'{time_period} Return Percentile'])

hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,INDUSINDBK.NS,1292.05,N/A,59.913329,0.96,7.919223,0.66,28.095639,0.96,9.693465,0.96,N/A
1,AXISBANK.NS,976.35,N/A,50.528549,0.88,4.215742,0.52,18.645716,0.74,6.759120,0.82,N/A
2,POWERGRID.NS,245.85,N/A,17.385797,0.32,16.624812,0.92,7.971965,0.32,1.336074,0.24,N/A
3,ADANIENT.NS,2482.30,N/A,12.523769,0.28,-39.235860,0.02,33.613372,0.98,28.240382,1.00,N/A
4,LT.NS,2361.00,N/A,52.863701,0.90,8.151363,0.72,8.196088,0.34,4.815628,0.62,N/A
5,ULTRACEMCO.NS,8334.25,N/A,54.126322,0.94,17.492514,0.94,17.710098,0.68,7.696862,0.88,N/A
6,CIPLA.NS,995.75,N/A,1.512667,0.14,-11.172629,0.10,11.475596,0.40,6.057653,0.70,N/A
7,GRASIM.NS,1769.00,N/A,34.030946,0.72,-0.422522,0.26,14.752354,0.58,2.653821,0.30,N/A
8,TATAMOTORS.NS,569.05,N/A,37.720352,0.82,36.861044,1.00,38.641055,1.00,7.431480,0.86,N/A
9,BRITANNIA.NS,4960.00,N/A,53.399569,0.92,12.561500,0.86,18.460032,0.72,6.711506,0.80,N/A
10,NTPC.NS,186.50,N/A,32.147219,0.64,11.616198,0.82,5.050505,0.20,6.393862,0.76,N/A
11,DRREDDY.NS,4804.70,N/A,9.859505,0.24,5.147737,0.54,6.929116,0.28,3.993542,0.46,N/A
12,BAJFINANCE.NS,7097.50,N/A,29.858802,0.60,7.115800,0.62,24.097925,0.84,5.729039,0.68,N/A
13,JSWSTEEL.NS,769.60,N/A,46.111829,0.86,3.968521,0.50,13.712933,0.52,9.538656,0.94,N/A
14,ICICIBANK.NS,925.40,N/A,37.568523,0.80,3.411092,0.46,13.791011,0.54,-0.629132,0.14,N/A
15,TITAN.NS,2907.70,N/A,38.587417,0.84,15.235664,0.88,21.172520,0.80,4.587073,0.56,N/A
16,HDFCBANK.NS,1583.85,N/A,23.914398,0.52,-0.715859,0.24,5.072872,0.22,-3.322673,0.10,N/A
17,HDFC.NS,2625.00,N/A,27.684485,0.56,0.598080,0.36,6.306528,0.26,-3.448464,0.08,N/A
18,NESTLEIND.NS,22900.00,N/A,36.758099,0.78,15.729710,0.90,26.949994,0.94,4.324449,0.50,N/A
19,COALINDIA.NS,228.20,N/A,33.207921,0.70,2.784824,0.44,4.115509,0.14,-3.681111,0.06,N/A
20,APOLLOHOSP.NS,5253.30,N/A,35.103299,0.74,8.030880,0.68,15.713367,0.62,8.282800,0.90,N/A
21,SUNPHARMA.NS,988.20,N/A,21.290557,0.44,-0.807385,0.22,3.710320,0.12,3.536203,0.40,N/A
22,BAJAJFINSV.NS,1475.05,N/A,25.399746,0.54,-7.757493,0.14,15.421804,0.60,4.154505,0.48,N/A
23,BPCL.NS,378.30,N/A,21.057885,0.42,6.988399,0.60,13.094157,0.48,4.635851,0.60,N/A
24,BHARTIARTL.NS,829.20,N/A,21.922020,0.46,0.193627,0.30,9.423113,0.38,3.876799,0.44,N/A
25,MARUTI.NS,9595.50,N/A,22.178933,0.48,11.047682,0.80,12.478537,0.46,3.531982,0.38,N/A
26,ADANIPORTS.NS,740.00,N/A,5.786412,0.18,-16.358395,0.04,8.831972,0.36,6.526906,0.78,N/A
27,ASIANPAINT.NS,3291.80,N/A,23.883583,0.50,5.154830,0.56,16.431261,0.64,5.107830,0.64,N/A
28,WIPRO.NS,389.55,N/A,-9.696322,0.02,0.563380,0.34,5.508985,0.24,2.773820,0.32,N/A
29,KOTAKBANK.NS,1831.60,N/A,7.435147,0.20,0.077827,0.28,11.927133,0.42,-5.491636,0.02,N/A
30,M&M.NS,1390.40,N/A,35.812439,0.76,7.125380,0.64,18.813294,0.78,7.233695,0.84,N/A
31,RELIANCE.NS,2547.65,N/A,-1.416134,0.10,-1.027789,0.20,14.072106,0.56,2.514818,0.28,N/A
32,TATACONSUM.NS,863.00,N/A,18.196075,0.34,8.335390,0.74,26.825918,0.92,10.806478,0.98,N/A
33,HINDALCO.NS,423.40,N/A,19.985624,0.38,-7.798267,0.12,4.653452,0.16,3.494029,0.36,N/A
34,TCS.NS,3220.20,N/A,3.991127,0.16,0.357188,0.32,1.630252,0.08,-0.122886,0.16,N/A
35,TECHM.NS,1082.55,N/A,9.042700,0.22,5.362990,0.58,-3.302230,0.04,1.235382,0.22,N/A
36,SBILIFE.NS,1241.20,N/A,10.612249,0.26,-2.220854,0.18,16.697195,0.66,4.443238,0.52,N/A
37,ITC.NS,447.60,N/A,72.472246,0.98,34.068733,0.98,17.880501,0.70,4.543855,0.54,N/A
38,ONGC.NS,157.30,N/A,15.057630,0.30,9.895676,0.78,3.474273,0.10,-4.679952,0.04,N/A
39,INFY.NS,1287.50,N/A,-5.062255,0.04,-13.300336,0.06,-5.919891,0.02,6.139662,0.72,N/A
40,BAJAJ-AUTO.NS,4723.00,N/A,32.712957,0.68,30.693784,0.96,26.815019,0.90,3.629063,0.42,N/A
41,HCLTECH.NS,1144.70,N/A,20.275382,0.40,11.835285,0.84,7.003339,0.30,3.282562,0.34,N/A
42,HINDUNILVR.NS,2687.75,N/A,27.698867,0.58,1.332958,0.40,12.162832,0.44,1.371021,0.26,N/A
43,UPL.NS,680.00,N/A,-2.790011,0.06,-11.417451,0.08,-2.804472,0.06,1.005990,0.20,N/A
44,SBIN.NS,567.00,N/A,30.221289,0.62,-4.577682,0.16,13.564648,0.50,1.005976,0.18,N/A
45,TATASTEEL.NS,113.75,N/A,153.142027,1.00,2.568730,0.42,4.739992,0.18,5.663887,0.66,N/A
46,EICHERMOT.NS,3549.80,N/A,32.194502,0.66,8.129258,0.70,18.795110,0.76,-2.362989,0.12,N/A
47,DIVISLAB.NS,3577.15,N/A,-1.911807,0.08,3.580502,0.48,25.583612,0.88,6.392490,0.74,N/A
48,HDFCLIFE.NS,577.15,N/A,0.914185,0.12,0.835914,0.38,25.358897,0.86,4.603969,0.58,N/A
49,HEROMOTOCO.NS,2906.05,N/A,18.410388,0.36,8.561467,0.76,23.204949,0.82,8.904499,0.92,N/A

## **Calculating the HQM Score**
We'll now calculate our `HQM Score`, which is the high-quality momentum score that we'll use to filter for stocks in this investing strategy.

The `HQM Score` will be the arithmetic mean of the 4 momentum percentile scores that we calculated in the last section.

To calculate arithmetic `mean`, we will use the mean function from Python's built-in `statistics` module.

In [33]:
from statistics import mean

for row in hqm_dataframe.index:
    momentum_percentiles = []
    for time_period in time_periods:
        momentum_percentiles.append(hqm_dataframe.loc[row, f'{time_period} Return Percentile'])
    hqm_dataframe.loc[row, 'HQM Score'] = mean(momentum_percentiles)

## **Selecting the 10 Best Momentum Stocks**
As before, we can identify the 10 best momentum stocks in our universe by sorting the DataFrame on the HQM Score column and dropping all but the top 10 entries.

In [34]:
hqm_dataframe.sort_values('HQM Score', ascending = False, inplace = True)
hqm_dataframe = hqm_dataframe[:11]
hqm_dataframe.reset_index(drop = True, inplace = True)
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,TATAMOTORS.NS,569.05,N/A,37.720352,0.82,36.861044,1.00,38.641055,1.00,7.431480,0.86,0.92
1,INDUSINDBK.NS,1292.05,N/A,59.913329,0.96,7.919223,0.66,28.095639,0.96,9.693465,0.96,0.885
2,ULTRACEMCO.NS,8334.25,N/A,54.126322,0.94,17.492514,0.94,17.710098,0.68,7.696862,0.88,0.86
3,BRITANNIA.NS,4960.00,N/A,53.399569,0.92,12.561500,0.86,18.460032,0.72,6.711506,0.80,0.825
4,ITC.NS,447.60,N/A,72.472246,0.98,34.068733,0.98,17.880501,0.70,4.543855,0.54,0.8
5,NESTLEIND.NS,22900.00,N/A,36.758099,0.78,15.729710,0.90,26.949994,0.94,4.324449,0.50,0.78
6,TITAN.NS,2907.70,N/A,38.587417,0.84,15.235664,0.88,21.172520,0.80,4.587073,0.56,0.77
7,M&M.NS,1390.40,N/A,35.812439,0.76,7.125380,0.64,18.813294,0.78,7.233695,0.84,0.755
8,TATACONSUM.NS,863.00,N/A,18.196075,0.34,8.335390,0.74,26.825918,0.92,10.806478,0.98,0.745
9,BAJAJ-AUTO.NS,4723.00,N/A,32.712957,0.68,30.693784,0.96,26.815019,0.90,3.629063,0.42,0.74
10,AXISBANK.NS,976.35,N/A,50.528549,0.88,4.215742,0.52,18.645716,0.74,6.759120,0.82,0.74

## **Calculating the Number of Shares to Buy**




We'll use the portfolio_input function that we created earlier to accept our portfolio size. Then we will use similar logic in a `for` loop to calculate the number of shares to buy for each stock in our investment universe.

In [39]:
portfolio_input()

Enter the value of your portfolio:200000

In [40]:
position_size = float(portfolio_size) / len(hqm_dataframe.index)
for i in range(0, len(hqm_dataframe['Ticker'])):
    hqm_dataframe.loc[i, 'Number of Shares to Buy'] = math.floor(position_size / hqm_dataframe['Price'][i])
hqm_dataframe

,Ticker,Price,Number of Shares to Buy,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,HQM Score
0,TATAMOTORS.NS,569.05,31,37.720352,0.82,36.861044,1.00,38.641055,1.00,7.431480,0.86,0.92
1,INDUSINDBK.NS,1292.05,14,59.913329,0.96,7.919223,0.66,28.095639,0.96,9.693465,0.96,0.885
2,ULTRACEMCO.NS,8334.25,2,54.126322,0.94,17.492514,0.94,17.710098,0.68,7.696862,0.88,0.86
3,BRITANNIA.NS,4960.00,3,53.399569,0.92,12.561500,0.86,18.460032,0.72,6.711506,0.80,0.825
4,ITC.NS,447.60,40,72.472246,0.98,34.068733,0.98,17.880501,0.70,4.543855,0.54,0.8
5,NESTLEIND.NS,22900.00,0,36.758099,0.78,15.729710,0.90,26.949994,0.94,4.324449,0.50,0.78
6,TITAN.NS,2907.70,6,38.587417,0.84,15.235664,0.88,21.172520,0.80,4.587073,0.56,0.77
7,M&M.NS,1390.40,13,35.812439,0.76,7.125380,0.64,18.813294,0.78,7.233695,0.84,0.755
8,TATACONSUM.NS,863.00,21,18.196075,0.34,8.335390,0.74,26.825918,0.92,10.806478,0.98,0.745
9,BAJAJ-AUTO.NS,4723.00,3,32.712957,0.68,30.693784,0.96,26.815019,0.90,3.629063,0.42,0.74
10,AXISBANK.NS,976.35,18,50.528549,0.88,4.215742,0.52,18.645716,0.74,6.759120,0.82,0.74

## **Formatting Our Excel Output**
We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization.

In [37]:
writer = pd.ExcelWriter('momentum_strategy.xlsx', engine='xlsxwriter')
hqm_dataframe.to_excel(writer, sheet_name='Momentum Strategy', index = False)

## **Creating the Formats We'll Need For Our .xlsx File**
We'll need four main formats for our Excel document:

*   String format for tickers
*   ₹XX.XX format for stock prices

*   ₹XX,XXX format for market capitalization
*   Integer format for the number of shares to purchase


*   Float formats with 3 decimal for each valuation metric

In [38]:
string_template = writer.book.add_format(
        {
            'font_color': '#ffffff',
            'bg_color': '#0a0a23',
            'border': 1
        }
    )

INR_template = writer.book.add_format(
        {
            'num_format':'₹0.00',
            'border': 1
        }
    )

integer_template = writer.book.add_format(
        {
            'num_format':'0',
            'border': 1
        }
    )
float_template = writer.book.add_format(
        {
            'num_format':'0.000',
            'border': 1
        }
    )
percent_template = writer.book.add_format(
        {
            'num_format':'0.0%',
            'border': 1
        }
    )

In [ ]:
column_formats = {
                    'A': ['Ticker', string_template],
                    'B': ['Price', INR_template],
                    'C': ['Number of Shares to Buy', integer_template],
                    'D': ['One-Year Price Return', percent_template],
                    'E': ['One-Year Return Percentile', percent_template],
                    'F': ['Six-Month Price Return', percent_template],
                    'G': ['Six-Month Return Percentile', percent_template],
                    'H': ['Three-Month Price Return', percent_template],
                    'I': ['Three-Month Return Percentile', percent_template],
                    'J': ['One-Month Price Return', percent_template],
                    'K': ['One-Month Return Percentile', percent_template],
                    'L': ['HQM Score', float_template]
                    }

for column in column_formats.keys():
    writer.sheets['Momentum Strategy'].set_column(f'{column}:{column}', 20, column_formats[column][1])
    writer.sheets['Momentum Strategy'].write(f'{column}1', column_formats[column][0], string_template)

## **Saving Our Excel Output**
Saving our Excel output is very easy:

In [ ]:
writer.save()

<ipython-input-135-16d93d5523a4>:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()